In [1]:
# all required imports
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from geopy.distance import geodesic
import json
import os
import sys
import math
import random
import datetime
import scipy as sp
from scipy.stats.stats import pearsonr
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
#reading the training data and test data

file_name = 'dblp-ref-'
num_files = 4
train_data = []

for i in range(num_files):
    train_data.append(pd.read_json("./data/dblp-ref/dblp-ref-" + str(i) + ".json", lines=2))
    train_data[i].head(3)

In [5]:
#train_data.fillna(0,inplace=True)
author_data = {}
author_id = {
    'start': 1,
    'curr': 1
}

assigned_ids = {}

def create_author_data(train_data, author_data, author_id, assigned_ids):
    for i in range(0, len(train_data)):#len(train_data)):
        authors = train_data.authors[i]
        
        try:
            citations = train_data.n_citation[i]/len(authors)
        except:
            continue

        for author in authors:
            names = author.split(' ')
            unique_name = names[0] + "_" + names[len(names)-1]
            if unique_name not in author_data:
                author_data[unique_name] = {
                    'num_citations': citations,
                    'paper_count': 1,
                    'name': unique_name,
                    'author_id': author_id['curr'],
                    'co_authors': {},
                    'citations': [train_data.n_citation[i]]
                }
                assigned_ids[unique_name] = author_id['curr']
                author_id['curr'] += 1
                
            else:
                author_data[unique_name]['num_citations'] += citations
                author_data[unique_name]['paper_count'] += 1
                author_data[unique_name]['citations'].append(train_data.n_citation[i])
                
            for co_author in authors:
                co_author_names = co_author.split(' ')
                co_author_unique_name = co_author_names[0] + "_" + co_author_names[len(co_author_names)-1]
                if co_author_unique_name != unique_name:
                    author_data[unique_name]['co_authors'][co_author_unique_name] = 1
                        
            
            
# call for each data file
for i in range(num_files):
    create_author_data(train_data[i], author_data, author_id, assigned_ids)

# add average citations
for data in author_data:
    author_data[data]['average_citations'] = author_data[data]['num_citations'] / author_data[data]['paper_count']
    
# adding h-index
def get_h_index(citations):
    return ([0] + [i + 1 for i, c in enumerate(sorted(citations, reverse = True)) if c >= i + 1])[-1]

data_to_df = []
for data in author_data:
    each_author = author_data[data]
    co_authors = each_author['co_authors']
    co_author_ids = []
    co_author_avg_citations = 0
    for co_author in co_authors:
        co_author_avg_citations += author_data[co_author]['average_citations']
        co_author_ids.append(assigned_ids[co_author])
    each_author['co_authors'] = co_author_ids
    each_author['co_author_avg_citations'] = co_author_avg_citations/len(co_author_ids) if len(co_author_ids) != 0 else 0
    data_to_df.append(each_author)
    
df = pd.DataFrame.from_dict(data_to_df, orient='columns')

df['h_index'] = df.apply(lambda x: get_h_index(x.citations), axis=1)
        
#df['average_citations'] = df['num_citations'] / df['paper_count']

df.head(100)

,author_id,average_citations,citations,co_author_avg_citations,co_authors,name,num_citations,paper_count,h_index
0,1,4.828571,"[0, 50, 50, 0, 2]",4.397172,"[2, 3, 4, 5, 6, 7, 8, 40149, 463789, 463790, 4...",Makoto_Satoh,24.142857,5,2
1,2,0.000000,[0],4.877965,"[1, 3, 4, 5, 6, 7, 8]",Ryo_Muramatsu,0.000000,1,0
2,3,6.684375,"[0, 50, 0, 50, 0, 0, 50, 6, 50, 2, 50, 50, 1, ...",3.616932,"[1, 2, 4, 5, 6, 7, 8, 73800, 30142, 198087, 49...",Mizue_Kayama,213.900000,32,13
3,4,4.667500,"[0, 50, 0, 0, 0, 10, 1, 0, 50, 50, 50, 50, 1, ...",2.655301,"[1, 2, 3, 5, 6, 7, 8, 73800, 201615, 334037, 4...",Kazunori_Itoh,93.350000,20,8
4,5,2.310000,"[0, 0, 50, 1, 2, 0, 0, 50, 0, 50]",2.876817,"[1, 2, 3, 4, 6, 7, 8, 201615, 490012, 509990, ...",Masami_Hashimoto,23.100000,10,3
5,6,2.524359,"[0, 0, 50, 1, 0, 1, 2, 1, 0, 2, 0, 0, 0, 50, 2...",3.594990,"[1, 2, 3, 4, 5, 7, 8, 50209, 324798, 180194, 2...",Makoto_Otani,98.450000,39,9
6,7,6.583333,"[0, 0, 0, 0, 10, 50, 50, 50, 50, 50]",3.823610,"[1, 2, 3, 4, 5, 6, 8, 201615, 334037, 509990, ...",Michio_Shimizu,65.833333,10,6
7,8,6.547619,"[0, 0, 0, 50, 50, 50, 50]",4.010573,"[1, 2, 3, 4, 5, 6, 7, 509990, 509991, 419420, ...",Masahiko_Sugimoto,45.833333,7,4
8,9,7.996032,"[50, 0, 50, 10]",5.124213,"[10, 380963, 380964, 380965, 337260, 178003, 7...",Gareth_Beale,31.984127,4,3
9,10,12.055335,"[50, 50, 52, 50, 50, 253, 10, 50, 0]",7.604391,"[9, 323945, 446287, 446288, 109746, 569693, 56...",Graeme_Earl,108.498016,9,8
10,11,4.910714,"[50, 0, 0, 50]",7.880489,"[12, 13, 14, 50423, 708116, 50424, 50425, 5042...",Altaf_Hossain,19.642857,4,2
11,12,3.222222,"[50, 0, 3, 2, 7, 7, 17, 13, 1]",6.392728,"[11, 13, 14, 41957, 354626, 354627, 263898, 31...",Faisal_Zaman,29.000000,9,5
12,13,8.726667,"[50, 0, 9, 13, 50]",7.863602,"[11, 12, 14, 88379, 258439, 452067, 266547, 22...",Mohammed_Nasser,43.633333,5,4
13,14,11.045115,"[50, 3, 0, 0, 50, 50, 50, 50, 0, 50, 50, 50, 5...",8.998470,"[11, 12, 13, 82947, 11950, 104476, 193127, 193...",M._Islam,640.616667,58,31
14,15,0.000000,[0],3.879726,"[16, 17, 18, 19]",Jea-Bum_Park,0.000000,1,0
15,16,7.500000,"[0, 90]",5.928498,"[15, 17, 18, 19, 378300, 432194, 378299, 43219...",Byungmok_Kim,15.000000,2,1
16,17,7.547477,"[0, 5, 0, 0, 2, 0, 50, 0, 50, 0, 4, 50, 80, 26...",7.365847,"[15, 16, 18, 19, 65068, 65069, 65070, 74397, 1...",Jian_Shen,1071.741667,142,49
17,18,0.000000,"[0, 0]",6.313194,"[15, 16, 17, 19, 183792, 638384]",Sun-Young_Kim,0.000000,2,0
18,19,0.471429,"[0, 2, 0, 5, 0, 2, 0]",1.368346,"[15, 16, 17, 18, 188307, 188308, 188309, 18831...",Dae-Seok_Rho,3.300000,7,2
19,20,8.223218,"[2, 50, 0, 2, 50, 1, 1, 4, 4, 7, 2, 0, 0, 50, ...",8.250910,"[21, 9042, 31351, 62377, 49329, 15067, 2047, 1...",Giovanna_Guerrini,748.312821,91,37
20,21,8.027083,"[2, 7, 32, 2, 0, 58, 50, 50, 50, 2, 20, 50, 18...",12.472483,"[20, 2047, 49329, 118057, 29124, 87749, 110285]",Isabella_Merlo,128.433333,16,10
21,22,3.814394,"[0, 3, 50, 4, 5, 4, 50, 26, 0, 3, 0, 50, 50, 9...",6.033606,"[23, 24, 25, 320703, 336170, 311217, 133326, 1...",Rafael_Álvarez,83.916667,22,7
22,23,4.562500,"[0, 0, 0, 50, 5, 4, 3, 50, 0, 8, 26, 7, 50, 4,...",4.712970,"[22, 24, 25, 179573, 179574, 179575, 311217, 2...",Leandro_Tortosa,146.000000,32,10
23,24,5.166667,"[0, 3, 0, 50, 4, 3, 4, 0, 26, 50, 50, 12, 50, ...",4.850121,"[22, 23, 25, 179573, 179574, 133326, 263767, 6...",José-Francisco_Vicent,98.166667,19,8
24,25,9.223864,"[0, 3, 50, 5, 3, 4, 50, 8, 26, 4, 50, 50, 0, 1...",9.311495,"[22, 23, 24, 311217, 179574, 133326, 179575, 7...",Antonio_Zamora,405.850000,44,16
25,26,27.182549,"[2, 0, 63, 50, 50, 5, 51, 1, 1, 50, 0, 0, 0, 0...",10.072521,"[27, 60474, 60475, 60476, 282956, 52929, 33082...",Jovan_Golic,2310.516667,85,47
26,27,0.666667,"[2, 0, 0, 6, 0, 0]",6.887042,"[26, 444148, 424879, 601990, 597048, 444146, 9...",Guglielmo_Morgari,4.000000,6,2
27,28,6.560417,"[0, 2, 0, 14, 50, 0, 1, 3, 19, 50, 50, 16, 75,...",3.366836,"[29, 30, 587793, 598975, 635905, 805009, 1205799]",Guzin_Ulutas,104.966667,16,7
28,29,5.455072,"[0, 2, 0, 14, 50, 0, 1, 50, 2, 3, 19, 50, 50, ...",4.184639,"[28, 30, 587793, 598975, 635905, 849984, 84998...",Mustafa_Ulutas,125.466667,23,8
29,30,5.837778,"[0, 50, 50, 1, 2, 14, 50, 2, 0, 50, 4, 1, 2, 1...",5.996423,"[28, 29, 113551, 113548, 221706, 234700, 23470...",Vasif_Nabiyev,175.133333,30,10
...,...,...,...,...,...,...,...,...,...
70,71,11.412121,"[50, 66, 50, 50, 50, 50, 50, 51, 50, 50, 14]",9.552966,"[68, 69, 70, 72, 81300, 421319, 84421, 1348981]",Ludo_Put,125.533333,11,11
71,72,10.499301,"[50, 100, 1, 31, 16, 21, 18, 9, 89, 7, 50, 50,...",11.534365,"[68, 69, 70, 71, 37870, 68241, 68242, 81299, 8...",Koen_Bosschere,1039.430808,99,50
72,73,20.292535,"[101, 10, 0, 3, 412, 43, 63, 91, 88, 59, 6, 16...",17.168834,"[74, 75, 76, 34037, 34038, 34039, 4479, 105609...",Marco_Baroni,1623.402778,80,35
73,74,27.375000,"[101, 118]",21.498891,"[73, 75, 76, 36797, 60405, 323379]",Francis_Chantree,54.750000,2,2
74,75,58.777778,"[101, 267, 10, 29, 61, 81, 123, 22, 105, 50, 1...",11.425784,"[73, 74, 76, 10821, 14496, 56183, 27525, 52836...",Adam_Kilgarriff,2468.666667,42,27
75,76,7.356510,"[101, 6, 50, 0, 17, 1, 64, 37, 50, 50, 1, 33, ...",10.128223,"[73, 74, 75, 87291, 96069, 18191, 127176, 1319...",Serge_Sharoff,235.408333,32,15
76,77,162.965854,"[50, 50, 14, 50, 137, 5388, 371, 50, 50, 85, 5...",30.163119,"[78, 79, 80, 116677, 62933, 73170, 124379, 824...",John_Douceur,6681.600000,41,32
77,78,73.393172,"[50, 3, 30, 23, 50, 249, 18, 50, 105, 393, 727...",30.522429,"[77, 79, 80, 167608, 231812, 241951, 241952, 1...",Jeremy_Elson,2128.401984,29,19
78,79,21.468881,"[50, 0, 50, 14, 3, 30, 70, 371, 50, 18, 101, 5...",28.536040,"[77, 78, 80, 16246, 16247, 16248, 16249, 16250...",Jon_Howell,815.817460,38,27
79,80,40.175866,"[50, 8, 76, 50, 70, 232, 137, 50, 227, 50, 704...",35.294510,"[77, 78, 79, 43891, 43892, 43893, 43894, 43895...",Jacob_Lorch,1325.803571,33,28
80,81,4.587834,"[7, 1, 10, 50, 50, 0, 0, 0, 0, 0, 0, 0, 3, 1, ...",7.326491,"[82, 172882, 172883, 327961, 327962, 327963, 7...",Hiroshi_Furukawa,316.560534,69,20
81,82,4.615995,"[7, 2, 11, 26, 50, 4, 4, 0, 16, 50, 50, 130, 2...",5.987560,"[81, 12698, 12699, 12700, 42839, 42840, 17804,...",Yutaka_Nakamura,369.279616,80,24
82,83,5.841204,"[0, 3, 50, 0, 1, 0, 0, 0, 38, 39, 50, 0, 50, 0...",4.437703,"[84, 144468, 144466, 867899, 867900, 355610, 8...",Nebojsa_Ralevic,105.141667,18,7
83,84,8.133333,"[0, 29, 50, 50, 2, 1, 50, 50, 1, 1, 1, 2, 50, ...",9.604944,"[83, 57222, 74287, 88902, 49240, 245406, 63098]",Lidija_Čomić,122.000000,15,6
84,85,6.113568,"[0, 0, 0, 0, 50, 0, 0, 3, 0, 2, 0, 7, 28, 1, 0...",6.510405,"[86, 87, 88, 89, 34640, 45962, 51863, 51864, 5...",William_Perrizo,770.309524,126,37
85,86,4.674354,"[0, 0, 50, 0, 50, 1, 0, 21, 1, 0, 0, 27, 0, 2,...",6.853341,"[85, 87, 88, 89, 70340, 131841, 115807, 52230,...",Qiang_Ding,163.602381,35,15
86,87,6.523810,"[0, 2, 28, 50, 50, 2, 50]",5.056048,"[85, 86, 88, 89, 52230, 51864, 177034]",Masum_Serazi,45.666667,7,4
87,88,5.242424,"[0, 2, 28, 0, 2, 1, 50, 50, 12, 37, 0]",5.180135,"[85, 86, 87, 89, 52230, 51864, 70340, 241125, ...",Taufik_Abidin,57.666667,11,5
88,89,3.174667,"[0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 8, ...",5.736173,"[85, 86, 87, 88, 45962, 57369, 115807, 96960, ...",Baoying_Wang,79.366667,25,6
89,90,14.583333,"[50, 50]",12.846103,"[91, 92, 478096, 160693]",Carmen_Álvarez,29.166667,2,2
90,91,9.754483,"[50, 50, 0, 3, 50, 0, 57, 8, 0, 9, 28, 6, 2, 0...",10.758359,"[90, 92, 45306, 3604, 45307, 63403, 63404, 272...",Philippe_Langlais,556.005556,57,26
91,92,16.809797,"[50, 3, 50, 50, 50, 6, 50, 5, 50, 3, 2, 50, 50...",12.407385,"[90, 91, 40721, 9201, 3689, 73569, 13179, 1099...",Jian-Yun_Nie,2538.279365,151,50
92,93,1.568331,"[0, 2, 0, 1, 1, 50, 50, 0]",5.123672,"[94, 95, 21368, 21369, 331471, 331472, 331473,...",Norihiko_Moriwaki,12.546645,8,2
93,94,3.446707,"[0, 2, 0, 1, 4, 0, 50, 3, 38, 3, 50, 0, 46, 6,...",6.796440,"[93, 95, 21368, 21369, 61985, 61986, 331471, 3...",Kazuo_Yano,72.380844,21,8
94,95,6.493333,"[0, 2, 0, 0, 0, 1, 105, 50, 3, 2, 50, 0, 0, 0, 0]",4.527538,"[93, 94, 21368, 21369, 270138, 571381, 92244, ...",Dai_Senoo,97.400000,15,3
95,96,6.276422,"[6, 2, 50, 0, 0, 50, 30, 36, 9, 8, 6, 4, 85, 5...",7.814819,"[97, 98, 94870, 94871, 83414, 128005, 28682, 2...",Prudence_Wong,451.902381,72,32
96,97,2.350000,"[6, 2, 6, 4, 5, 0, 15, 50, 0, 1]",7.511853,"[96, 98, 107114, 442153, 50685, 130446, 263041...",Fencol_Yung,23.500000,10,5
97,98,2.618681,"[6, 2, 0, 0, 0, 52, 7, 4, 38, 5, 50, 0, 0]",5.509823,"[96, 97, 28312, 83414, 128005, 28682, 101675, ...",Mihai_Burcea,34.042857,13,5
98,99,15.051493,"[50, 0, 6, 6, 53, 5, 14, 50, 301, 24, 50, 120,...",15.790644,"[100, 26913, 199471, 199472, 25640, 188350, 23...",Michel_Abdalla,1008.450000,67,32
99,100,6.412500,"[50, 1, 2, 0]",5.308606,"[99, 94115, 40415, 237239, 1415563, 237237, 11...",Jill-Jênn_Vie,25.650000,4,2

In [6]:
len(df)

1635106

In [7]:
df.to_csv('./data/authors.csv', sep=',')

In [8]:
authors_df = pd.read_csv('./data/authors.csv')

In [9]:
authors_df.head()

,Unnamed: 0,author_id,average_citations,citations,co_author_avg_citations,co_authors,name,num_citations,paper_count,h_index
0,0,1,4.828571,"[0, 50, 50, 0, 2]",4.397172,"[2, 3, 4, 5, 6, 7, 8, 40149, 463789, 463790, 4...",Makoto_Satoh,24.142857,5,2
1,1,2,0.000000,[0],4.877965,"[1, 3, 4, 5, 6, 7, 8]",Ryo_Muramatsu,0.000000,1,0
2,2,3,6.684375,"[0, 50, 0, 50, 0, 0, 50, 6, 50, 2, 50, 50, 1, ...",3.616932,"[1, 2, 4, 5, 6, 7, 8, 73800, 30142, 198087, 49...",Mizue_Kayama,213.900000,32,13
3,3,4,4.667500,"[0, 50, 0, 0, 0, 10, 1, 0, 50, 50, 50, 50, 1, ...",2.655301,"[1, 2, 3, 5, 6, 7, 8, 73800, 201615, 334037, 4...",Kazunori_Itoh,93.350000,20,8
4,4,5,2.310000,"[0, 0, 50, 1, 2, 0, 0, 50, 0, 50]",2.876817,"[1, 2, 3, 4, 6, 7, 8, 201615, 490012, 509990, ...",Masami_Hashimoto,23.100000,10,3

In [17]:
authors_df = authors_df.sort_values(by='h_index', ascending=False)
authors_df_sorted_h_index = authors_df[:2000]
authors_df_sorted_h_index.to_csv('./data/authors_sorted_by_h_index.csv', sep=',')
authors_df_sorted_h_index

,Unnamed: 0,author_id,average_citations,citations,co_author_avg_citations,co_authors,name,num_citations,paper_count,h_index
45286,45286,45287,90.959808,"[47, 27, 9, 57, 15, 50, 388, 8, 134, 23, 50, 8...",23.527023,"[45286, 66718, 66719, 67047, 67048, 67049, 787...",Anil_Jain,49936.934754,549,144
40254,40254,40255,40.253176,"[0, 92, 50, 11, 2, 50, 50, 257, 95, 173, 50, 5...",17.147145,"[42167, 11017, 44161, 16038, 64503, 64504, 645...",Jiawei_Han,29666.590508,737,144
737,737,738,27.901193,"[43, 131, 2251, 21, 197, 70, 40, 33, 14, 50, 1...",14.345400,"[2492, 9499, 9500, 13689, 13690, 24400, 16425,...",Philip_Yu,27231.563889,976,132
7014,7014,7015,72.169629,"[3, 50, 50, 0, 263, 29, 25, 50, 50, 0, 157, 76...",45.547509,"[5776, 46602, 96985, 31335, 81469, 100220, 100...",Andrew_Zisserman,25981.066598,360,123
15849,15849,15850,29.570117,"[0, 64, 7, 50, 50, 50, 0, 0, 111, 52, 0, 50, 1...",18.364136,"[15849, 27280, 27281, 45764, 82995, 88292, 640...",Thomas_Huang,24454.486760,827,122
51522,51522,51523,77.375410,"[50, 9, 35, 2, 9, 50, 229, 28, 50, 1, 23, 0, 6...",36.990219,"[51524, 7910, 55012, 31553, 55013, 26096, 8558...",Scott_Shenker,20813.985300,269,122
29353,29353,29354,56.858964,"[44, 101, 0, 39, 24, 50, 50, 5, 4, 8, 0, 865, ...",41.367042,"[13989, 29355, 46601, 24848, 56891, 28727, 568...",Hector_Garcia-Molina,22743.585762,400,117
78465,78465,78466,79.501952,"[3, 0, 0, 95, 0, 17, 14, 35, 56, 16, 8, 50, 27...",28.065848,"[52563, 80489, 94259, 4836, 94260, 4822, 94261...",Michael_Jordan,26553.652020,334,113
25820,25820,25821,86.767361,"[0, 11, 80, 60, 2, 52, 81, 8, 50, 166, 3, 156,...",27.207981,"[25815, 25816, 25817, 25818, 25819, 25820, 668...",Sebastian_Thrun,23253.652814,268,113
22284,22284,22285,44.048882,"[50, 9, 50, 19, 14, 33, 3, 11, 50, 50, 50, 50,...",22.405255,"[22283, 22284, 38001, 38002, 38003, 41734, 537...",Christos_Faloutsos,22553.027524,512,112
118931,118931,118932,32.329039,"[14, 0, 0, 6, 3, 50, 51, 4, 157, 5, 28, 33, 21...",17.378874,"[118929, 118930, 118931, 78677, 57449, 3995, 2...",Georgios_Giannakis,20755.242857,642,111
23024,23024,23025,74.952049,"[50, 0, 50, 50, 1, 20, 2, 50, 188, 50, 50, 5, ...",24.476985,"[23021, 23022, 23023, 23024, 23026, 23027, 250...",Takeo_Kanade,29456.155189,393,109
18806,18806,18807,30.058247,"[50, 0, 1, 7, 11, 303, 54, 2, 17, 3, 1, 13, 31...",18.619108,"[18804, 18805, 18806, 45159, 45160, 104146, 10...",Donald_Towsley,15870.754365,528,108
14462,14462,14463,28.529084,"[14, 11, 1, 0, 50, 4, 50, 0, 50, 50, 0, 50, 50...",10.524706,"[14461, 14462, 24967, 24968, 19833, 30652, 306...",Francisco_Herrera,14178.954520,497,107
645,645,646,11.765630,"[2, 14, 50, 0, 50, 0, 256, 50, 2, 50, 59, 0, 0...",7.825974,"[647, 648, 649, 650, 651, 652, 653, 7284, 7285...",Lei_Zhang,19048.555452,1619,107
7507,7507,7508,8.298664,"[0, 3, 50, 50, 0, 50, 0, 3, 3, 25, 0, 0, 257, ...",7.880137,"[7509, 7510, 7511, 454, 12543, 12544, 12545, 1...",Wei_Wang,21427.149848,2582,104
27249,27249,27250,77.199444,"[50, 19, 10, 32, 1, 0, 145, 141, 294, 30, 0, 0...",32.708276,"[42321, 7094, 58496, 82906, 27437, 32094, 5724...",Christos_Papadimitriou,24781.021429,321,101
51874,51874,51875,36.117616,"[236, 11, 50, 50, 2, 28, 2, 16, 50, 32, 25, 53...",18.609801,"[27560, 51874, 124702, 124703, 28629, 124704, ...",Hong-Jiang_Zhang,12135.519048,336,101
31552,31552,31553,65.128857,"[189, 1, 9, 4, 131, 29, 9, 28, 8, 309, 50, 50,...",37.595709,"[31550, 31551, 31552, 40154, 40155, 40156, 401...",Ion_Stoica,14588.863869,224,101
11631,11631,11632,45.568957,"[53, 0, 50, 9, 172, 3, 1, 50, 50, 0, 45, 18, 3...",12.855761,"[11629, 11630, 11631, 23293, 47917, 47918, 459...",Rajkumar_Buyya,20323.754762,446,100
2105,2105,2106,57.785958,"[19, 6, 1, 0, 2, 50, 4, 50, 14, 30, 50, 0, 10,...",12.530882,"[2107, 9497, 9498, 55185, 59527, 59528, 20371,...",Ian_Foster,23692.242953,410,99
6600,6600,6601,82.610278,"[32, 53, 87, 50, 81, 22, 21, 249, 91, 8, 75, 5...",41.047717,"[6599, 6600, 6201, 5045, 6602, 29550, 29551, 3...",Daphne_Koller,15778.563095,191,98
703,703,704,104.739824,"[73, 17, 11, 88, 586, 197, 76, 169, 11, 78, 91...",30.233586,"[701, 702, 703, 11334, 11335, 66888, 61783, 66...",Andrew_Ng,19586.347163,187,98
42844,42844,42845,132.111821,"[20, 6, 84, 619, 266, 57, 42, 279, 50, 125, 0,...",48.038599,"[42843, 42844, 9139, 167847, 40156, 46178, 589...",Richard_Szeliski,21534.226786,163,97
7705,7705,7706,53.851211,"[0, 3, 6, 0, 0, 14, 0, 50, 12, 50, 50, 8, 53, ...",14.949215,"[7704, 7705, 33338, 16455, 52338, 52339, 60128...",Nicholas_Jennings,25956.283775,482,96
35308,35308,35309,74.460131,"[114, 15, 815, 161, 50, 50, 1, 564, 50, 263, 5...",23.471493,"[35305, 35306, 35307, 35308, 35310, 35311, 450...",Yoshua_Bengio,26061.045957,350,96
10097,10097,10098,34.356188,"[186, 23, 5, 116, 12, 11, 173, 2, 25, 2, 0, 49...",15.393404,"[10099, 7467, 38682, 113873, 20371, 125096, 18...",John_Stankovic,11200.117166,326,95
15513,15513,15514,100.100949,"[75, 139, 50, 2, 55, 312, 677, 72, 180, 50, 67...",36.026853,"[15508, 15509, 15510, 15511, 15512, 15513, 532...",David_Culler,21021.199242,210,94
59082,59082,59083,32.472619,"[13, 2, 33, 37, 0, 50, 50, 0, 0, 0, 13, 35, 12...",24.536156,"[23851, 23477, 32499, 51066, 51067, 112018, 11...",Leonidas_Guibas,11852.505980,365,94
72860,72860,72861,71.350924,"[341, 64, 239, 69, 773, 64, 45, 94, 50, 129, 9...",26.140909,"[72862, 23878, 183013, 11563, 204766, 204767, ...",Shree_Nayar,14484.237500,203,93
...,...,...,...,...,...,...,...,...,...,...
92127,92127,92128,6.712440,"[7, 7, 0, 2, 28, 94, 162, 50, 50, 8, 0, 20, 9,...",7.351590,"[28482, 92129, 10546, 92130, 92131, 158408, 15...",Eduard_Ayguadé,1973.457292,294,50
166040,166040,166041,12.206589,"[91, 2, 50, 95, 50, 339, 18, 0, 50, 31, 0, 24,...",9.042719,"[67550, 32074, 80005, 18422, 171328, 289158, 1...",Uichin_Lee,1171.832540,96,50
311065,311065,311066,5.549861,"[3, 11, 4, 2, 50, 3, 0, 50, 0, 23, 77, 0, 0, 1...",5.709611,"[311064, 311065, 313651, 313652, 200322, 32378...",Hoi-Jun_Yoo,1109.972222,200,50
5499,5499,5500,24.823372,"[50, 76, 118, 28, 0, 50, 50, 97, 34, 50, 51, 5...",21.352043,"[5498, 5499, 139845, 3233, 280499, 280500, 295...",Martin_Pelikan,2159.633333,87,50
173499,173499,173500,9.814143,"[0, 0, 50, 50, 50, 5, 50, 50, 1, 1, 50, 50, 1,...",7.107184,"[338037, 335313, 156189, 338038, 338039, 33804...",Martti_Hallikainen,1108.998196,113,50
133427,133427,133428,20.152051,"[0, 50, 50, 5, 31, 50, 194, 6, 50, 3, 1, 9, 50...",14.931585,"[133427, 15341, 332552, 332553, 127776, 29860,...",Niloy_Mitra,2398.094048,119,50
21403,21403,21404,6.986737,"[50, 0, 0, 4, 50, 50, 5, 50, 3, 5, 50, 50, 50,...",7.397153,"[21403, 47621, 47622, 47623, 58805, 32027, 902...",Mark_Neerincx,1054.997330,151,50
36774,36774,36775,10.450302,"[5, 50, 26, 0, 50, 15, 50, 50, 1, 7, 2, 20, 8,...",6.824632,"[36776, 36777, 36778, 36779, 44231, 42819, 977...",Umapada_Pal,2393.119048,229,50
167050,167050,167051,17.870571,"[4, 2, 50, 50, 5, 38, 50, 41, 50, 3, 16, 50, 5...",12.872603,"[106128, 167050, 50096, 222305, 230684, 388311...",Byrav_Ramamurthy,2394.656494,134,50
112554,112554,112555,21.006666,"[132, 533, 107, 10, 101, 5, 129, 1, 50, 2, 0, ...",19.868562,"[59576, 112552, 112553, 112554, 14748, 535594,...",Haitao_Zheng,2394.759957,114,50
5239,5239,5240,11.191513,"[2, 0, 1, 0, 16, 0, 1, 0, 20, 1, 2, 7, 0, 50, ...",9.895622,"[5239, 49731, 59533, 59534, 932, 85439, 109178...",Andreas_Andreou,2394.983855,214,50
22606,22606,22607,12.541344,"[4, 14, 2, 14, 50, 1, 35, 50, 50, 50, 24, 50, ...",9.004075,"[22606, 22608, 22609, 22610, 58033, 88690, 886...",Eleni_Stroulia,2395.396645,191,50
2638,2638,2639,22.180247,"[12, 50, 47, 21, 50, 2, 0, 2, 50, 1, 50, 2, 2,...",9.867062,"[2638, 2640, 234170, 234171, 254045, 254046, 3...",LJubisa_Stankovic,2395.466667,108,50
42883,42883,42884,11.385546,"[0, 35, 50, 0, 83, 1, 50, 0, 5, 2, 50, 50, 50,...",11.106528,"[42882, 42883, 75928, 75929, 108849, 214698, 2...",Takeshi_Tokuyama,1172.711233,103,50
48817,48817,48818,14.607398,"[0, 0, 14, 50, 0, 1, 7, 6, 50, 31, 50, 5, 50, ...",10.093282,"[48817, 30020, 49999, 50000, 39397, 51295, 512...",Vincent_Aleven,2395.613238,164,50
51970,51970,51971,16.297619,"[5, 50, 50, 15, 3, 75, 1, 9, 1, 50, 50, 3, 49,...",14.159554,"[51968, 51969, 51970, 51972, 58057, 58058, 101...",Philip_McKinley,2395.750000,147,50
327053,327053,327054,21.101180,"[9, 3, 4, 50, 50, 50, 1, 0, 0, 0, 74, 50, 0, 5...",13.166404,"[270299, 66661, 329670, 329671, 329672, 329673...",Raviraj_Adve,2384.433333,113,50
381667,381667,381668,26.382853,"[103, 2, 50, 497, 8, 2, 50, 24, 50, 11, 149, 0...",17.018342,"[283130, 381665, 381666, 381667, 175918, 10640...",Matthew_Chalmers,1978.713961,75,50
192904,192904,192905,13.100490,"[1, 0, 46, 50, 13, 40, 6, 0, 0, 146, 126, 11, ...",10.481394,"[192904, 192906, 129034, 18817, 199831, 201535...",Tülay_Adali,2397.389694,183,50
93674,93674,93675,10.999773,"[50, 0, 0, 1, 16, 8, 50, 61, 5, 50, 50, 0, 0, ...",10.644382,"[93672, 93673, 93674, 60903, 11977, 136503, 11...",Miguel_Otaduy,1055.978175,96,50
14974,14974,14975,11.483045,"[10, 24, 14, 60, 9, 22, 50, 50, 50, 66, 50, 17...",9.675292,"[14974, 14976, 24753, 36967, 21985, 7034, 3696...",Xing-Quan_Zhu,2399.956494,209,50
51286,51286,51287,7.525490,"[50, 2, 2, 0, 50, 50, 0, 5, 0, 0, 10, 0, 50, 0...",8.406795,"[51285, 51286, 51288, 64192, 64193, 21966, 293...",David_Feng,2400.631421,319,50
18179,18179,18180,11.711518,"[50, 20, 9, 0, 10, 42, 50, 0, 8, 50, 23, 0, 4,...",10.887682,"[18181, 95913, 68378, 78553, 2151, 166194, 186...",Ken-ichi_Kawarabayashi,2400.861111,205,50
170351,170351,170352,4.465205,"[0, 1, 0, 2, 6, 1, 50, 0, 50, 1, 50, 13, 2, 1,...",5.834622,"[2274, 170353, 1640, 5792, 80270, 80929, 4495,...",Huazhong_Yang,1053.788492,236,50
7582,7582,7583,18.616667,"[0, 9, 1, 0, 9, 0, 31, 0, 0, 0, 0, 0, 0, 0, 0,...",16.421010,"[7584, 7585, 11202, 11203, 11204, 163299, 1895...",Jonathan_Bowen,2401.550000,129,50
381246,381246,381247,31.203463,"[133, 13, 144, 50, 50, 50, 50, 144, 119, 19, 6...",20.341158,"[381246, 65194, 213320, 429372, 196868, 201623...",Elon_Rimon,2402.666667,77,50
45315,45315,45316,23.556590,"[0, 15, 45, 42, 7, 50, 50, 112, 3, 1, 12, 70, ...",20.426023,"[39611, 607, 45317, 141791, 111263, 28248, 147...",Gloria_Mark,2402.772222,102,50
87021,87021,87022,19.378987,"[50, 2, 28, 186, 50, 0, 0, 50, 20, 50, 0, 50, ...",15.564654,"[87021, 116120, 116121, 139359, 25121, 12831, ...",Maxim_Sviridenko,2402.994372,124,50
103361,103361,103362,9.158185,"[3, 11, 19, 3, 0, 50, 6, 8, 50, 16, 50, 50, 16...",8.129956,"[103361, 151777, 16567, 168136, 168137, 134289...",Andreas_Pitsillides,1053.191270,115,50
5734,5734,5735,6.794278,"[0, 8, 1, 0, 21, 50, 50, 2, 0, 58, 50, 6, 50, ...",6.489979,"[5734, 5736, 5737, 69723, 69724, 69725, 69726,...",Sancho_Salcedo-Sanz,1053.113095,155,50

In [18]:
authors_df = authors_df.sort_values(by='num_citations', ascending=False)
authors_df_sorted_num_citations = authors_df[:2000]
authors_df_sorted_num_citations.to_csv('./data/authors_df_sorted_by_num_citations.csv', sep=',')
authors_df_sorted_num_citations

,Unnamed: 0,author_id,average_citations,citations,co_author_avg_citations,co_authors,name,num_citations,paper_count,h_index
3232,3232,3233,334.035057,"[387, 5, 185, 11, 65, 34, 94, 261, 113, 779, 7...",28.621615,"[3234, 3235, 19817, 47221, 20073, 2125, 21097,...",David_Goldberg,90523.500325,271,75
25448,25448,25449,414.398282,"[7, 1, 30, 0, 50, 8, 0, 50, 3, 13, 5, 4, 0, 17...",20.702528,"[25450, 7959, 168384, 95735, 13413, 74045, 459...",David_Lowe,70447.707937,170,51
45286,45286,45287,90.959808,"[47, 27, 9, 57, 15, 50, 388, 8, 134, 23, 50, 8...",23.527023,"[45286, 66718, 66719, 67047, 67048, 67049, 787...",Anil_Jain,49936.934754,549,144
357731,357731,357732,5250.000000,"[106, 0, 192, 219, 182, 443, 596, 16833, 28679]",0.000000,[],Leo_Breiman,47250.000000,9,8
50736,50736,50737,226.166717,"[1, 84, 36, 52, 50, 37, 239, 67, 417, 50, 58, ...",36.654893,"[69355, 69356, 30488, 69357, 61143, 35264, 166...",Jon_Kleinberg,42519.342857,188,82
253708,253708,253709,548.880044,"[8, 3, 248, 77, 1811, 797, 54, 3, 86, 56, 17, ...",47.268506,"[253710, 4811, 163293, 39395, 512028, 151367, ...",David_Donoho,41714.883333,76,50
91121,91121,91122,414.818041,"[50, 36, 3, 50, 351, 60, 50, 90, 50, 6, 13, 0,...",25.467982,"[5675, 23149, 13439, 57496, 6086, 219568, 3582...",Lotfi_Zadeh,41481.804113,100,50
30762,30762,30763,547.148259,"[62, 50, 50, 13, 19, 6, 1, 50, 25, 27, 13, 50,...",40.480554,"[30762, 30764, 194687, 267117, 80628, 286356, ...",Stéphane_Mallat,36658.933333,67,42
31071,31071,31072,843.012684,"[133, 48, 0, 0, 2, 0, 0, 90, 178, 655, 137, 0,...",43.736192,"[1806, 31070, 31071, 18157, 31073, 31074, 6147...",Fred_Davis,36249.545405,43,29
7400,7400,7401,182.568682,"[127, 107, 5, 297, 1862, 0, 50, 518, 156, 60, ...",53.239908,"[7402, 7403, 62378, 65776, 65777, 17087, 25761...",Geoffrey_Hinton,34688.049567,190,90
665227,665227,665228,17144.250000,"[1, 34288]",2.861111,[665227],Robert_Putnam,34288.500000,2,1
35823,35823,35824,65.151908,"[11, 51, 12, 29, 50, 50, 0, 50, 9, 6, 97, 2, 5...",16.426756,"[113532, 100314, 113533, 734, 19748, 106040, 1...",Ronald_Yager,33097.169048,508,87
10435,10435,10436,348.219963,"[0, 0, 77, 551, 294, 11519, 50, 0, 2, 50, 15, ...",43.156878,"[260703, 353385, 8816, 180247, 51046, 41361, 3...",Robin_Milner,31688.016667,91,50
74313,74313,74314,152.276064,"[4, 0, 282, 0, 104, 38, 11, 0, 0, 0, 185, 50, ...",34.541613,"[62761, 48175, 121499, 61801, 137128, 5242, 16...",Rakesh_Agrawal,30455.212742,200,84
40254,40254,40255,40.253176,"[0, 92, 50, 11, 2, 50, 50, 257, 95, 173, 50, 5...",17.147145,"[42167, 11017, 44161, 16038, 64503, 64504, 645...",Jiawei_Han,29666.590508,737,144
23024,23024,23025,74.952049,"[50, 0, 50, 50, 1, 20, 2, 50, 188, 50, 50, 5, ...",24.476985,"[23021, 23022, 23023, 23024, 23026, 23027, 250...",Takeo_Kanade,29456.155189,393,109
60117,60117,60118,222.771654,"[2, 43, 1, 50, 52, 0, 50, 50, 11, 13, 22, 55, ...",32.605177,"[12539, 826, 165047, 39781, 31896, 175736, 883...",Robert_Schapire,29405.858333,132,58
73750,73750,73751,261.182969,"[0, 50, 2, 540, 50, 50, 0, 0, 56, 95, 305, 10,...",41.170000,"[73752, 10352, 10353, 3391, 210030, 314312, 32...",Leslie_Lamport,28991.309524,111,56
85580,85580,85581,156.992485,"[187, 35, 127, 229, 309, 215, 120, 2, 33, 6, 6...",48.303946,"[85577, 85578, 85579, 85580, 49170, 37711, 259...",Hari_Balakrishnan,28572.632298,182,90
52703,52703,52704,138.641239,"[75, 3, 50, 1, 264, 94, 50, 5, 5, 42, 41, 61, ...",33.613052,"[52701, 52702, 52703, 12419, 121702, 72843, 66...",Jitendra_Malik,28282.812802,204,92
47414,47414,47415,160.644980,"[19, 36, 38, 3, 1842, 50, 43, 162, 50, 157, 23...",30.349920,"[35527, 47414, 19779, 1614, 93366, 4381, 826, ...",Adi_Shamir,28112.871429,175,63
15502,15502,15503,435.272582,"[46, 0, 10, 309, 45, 50, 745, 208, 78, 1016, 4...",80.044174,"[15500, 15501, 15502, 57824, 264799, 264800, 3...",Vladimir_Vapnik,27857.445238,64,49
99389,99389,99390,297.796070,"[202, 25, 50, 464, 374, 9, 5, 92, 10, 348, 45,...",76.814925,"[99387, 99388, 99389, 266544, 266545, 266546, ...",Chih-Jen_Lin,27695.034524,93,50
737,737,738,27.901193,"[43, 131, 2251, 21, 197, 70, 40, 33, 14, 50, 1...",14.345400,"[2492, 9499, 9500, 13689, 13690, 24400, 16425,...",Philip_Yu,27231.563889,976,132
78465,78465,78466,79.501952,"[3, 0, 0, 95, 0, 17, 14, 35, 56, 16, 8, 50, 27...",28.065848,"[52563, 80489, 94259, 4836, 94260, 4822, 94261...",Michael_Jordan,26553.652020,334,113
57134,57134,57135,138.422744,"[0, 50, 1, 6, 38, 0, 200, 7, 50, 50, 50, 0, 22...",43.651245,"[85292, 117312, 117313, 52976, 14627, 132300, ...",Richard_Karp,26300.321429,190,77
35308,35308,35309,74.460131,"[114, 15, 815, 161, 50, 50, 1, 564, 50, 263, 5...",23.471493,"[35305, 35306, 35307, 35308, 35310, 35311, 450...",Yoshua_Bengio,26061.045957,350,96
7014,7014,7015,72.169629,"[3, 50, 50, 0, 263, 29, 25, 50, 50, 0, 157, 76...",45.547509,"[5776, 46602, 96985, 31335, 81469, 100220, 100...",Andrew_Zisserman,25981.066598,360,123
7705,7705,7706,53.851211,"[0, 3, 6, 0, 0, 14, 0, 50, 12, 50, 50, 8, 53, ...",14.949215,"[7704, 7705, 33338, 16455, 52338, 52339, 60128...",Nicholas_Jennings,25956.283775,482,96
72725,72725,72726,139.081784,"[48, 54, 4, 34, 16, 75, 50, 28, 77, 2051, 49, ...",46.931581,"[72724, 72725, 102337, 102338, 102339, 102340,...",Cordelia_Schmid,25730.130090,185,91
...,...,...,...,...,...,...,...,...,...,...
20300,20300,20301,14.403566,"[14, 50, 4, 36, 3, 1, 2, 50, 50, 0, 50, 13, 50...",14.592865,"[4956, 20302, 20303, 20304, 4957, 20305, 20306...",Alan_Smeaton,4349.876804,302,50
20630,20630,20631,22.190999,"[0, 0, 3, 12, 2, 50, 0, 52, 4, 4, 175, 3, 12, ...",13.646010,"[20630, 20632, 20633, 67101, 41848, 51979, 259...",Daniel_Gajski,4349.435714,196,50
25971,25971,25972,76.245270,"[228, 132, 1, 142, 1, 328, 50, 137, 21, 99, 18...",34.876273,"[25967, 25968, 25969, 25970, 25971, 9662, 1507...",Mendel_Rosenblum,4345.980403,57,46
8332,8332,8333,35.039190,"[1, 1, 0, 50, 2, 0, 9, 0, 0, 0, 2, 0, 50, 15, ...",22.449473,"[89118, 13474, 69657, 69658, 272085, 235720, 8...",Fionn_Murtagh,4344.859524,124,50
25083,25083,25084,31.920736,"[0, 50, 5, 86, 41, 14, 10, 23, 7, 50, 1, 32, 1...",18.688052,"[25082, 25083, 13322, 91862, 91863, 21436, 127...",Kenneth_Forbus,4341.220147,136,50
9124,9124,9125,6.517415,"[0, 50, 50, 2, 1, 0, 23, 50, 0, 0, 0, 4, 0, 7,...",6.806522,"[9121, 9122, 9123, 9124, 9126, 63248, 78026, 6...",Yu_Liu,4340.598504,666,50
43366,43366,43367,81.894654,"[1, 0, 0, 50, 5, 0, 0, 11, 0, 25, 0, 20, 143, ...",52.637643,"[36396, 43366, 28436, 28437, 129807, 26104, 16...",Wynne_Chin,4340.416667,53,26
4602,4602,4603,7.076614,"[50, 80, 1, 0, 50, 77, 3, 50, 2, 8, 0, 0, 59, ...",8.001964,"[4600, 4601, 4602, 42925, 21018, 27201, 20444,...",Wei_Wu,4337.964660,613,51
24940,24940,24941,15.113058,"[70, 275, 22, 5, 26, 53, 6, 50, 5, 50, 0, 80, ...",12.898711,"[24940, 32081, 42185, 55271, 34810, 63741, 637...",Simon_Parsons,4337.447619,287,50
136409,136409,136410,32.359049,"[7, 1, 175, 50, 285, 1, 111, 50, 125, 18, 11, ...",20.495419,"[136411, 16249, 266604, 113049, 266605, 322161...",David_Kotz,4336.112587,134,50
33830,33830,33831,14.646370,"[0, 10, 3, 13, 50, 50, 0, 8, 17, 4, 158, 50, 2...",10.782500,"[17894, 70097, 70098, 9507, 38543, 76297, 1240...",Jing_Huang,4335.325506,296,50
20953,20953,20954,27.602398,"[50, 35, 36, 50, 47, 2, 14, 10, 6, 48, 125, 30...",16.357796,"[1425, 40551, 17991, 66168, 101072, 17990, 128...",Steve_Young,4333.576443,157,50
8562,8562,8563,14.336566,"[50, 0, 50, 50, 2, 3, 0, 0, 50, 4, 50, 0, 6, 5...",14.907963,"[8562, 55630, 55631, 25383, 55632, 46519, 5628...",Tamer_Basar,4329.642857,302,52
87659,87659,87660,47.569292,"[0, 4, 4, 0, 0, 50, 50, 5, 50, 50, 1, 50, 50, ...",33.616843,"[87661, 46991, 6045, 6047, 252004, 96559, 4554...",William_Gardner,4328.805556,91,50
30428,30428,30429,46.517563,"[25, 82, 3, 19, 1, 11, 51, 9, 9, 50, 93, 3, 7,...",42.605830,"[3873, 30430, 30431, 28437, 36512, 36513, 3511...",Rudy_Hirschheim,4326.133333,93,50
135869,135869,135870,100.520930,"[5, 0, 6, 50, 51, 50, 82, 9, 2, 8, 3, 2784, 36...",28.386810,"[34857, 96137, 2861, 30336, 136400, 136401, 53...",Roger_Schank,4322.400000,43,23
4772,4772,4773,45.497878,"[3, 50, 0, 13, 50, 37, 319, 50, 3, 50, 267, 61...",18.810438,"[4772, 4774, 4775, 9393, 101814, 115368, 11536...",Wenliang_Du,4322.298413,95,50
356361,356361,356362,61.745845,"[212, 5, 842, 28, 50, 211, 7, 16, 306, 114, 78...",23.718682,"[96686, 157951, 44398, 369219, 309563, 321262,...",Ralf_Koetter,4322.209127,70,50
2375,2375,2376,42.783828,"[17, 50, 50, 0, 5, 3, 6, 2, 0, 50, 16, 85, 114...",24.334685,"[84297, 165519, 31227, 214251, 41361, 9294, 15...",Glynn_Winskel,4321.166667,101,50
21150,21150,21151,31.986221,"[50, 50, 5, 50, 7, 50, 50, 8, 25, 507, 0, 51, ...",17.080015,"[11015, 21149, 21150, 5225, 24590, 22130, 2459...",Thomas_Brox,4318.139827,135,53
118230,118230,118231,19.981669,"[50, 50, 1, 10, 6, 50, 9, 50, 50, 14, 9, 50, 5...",11.788303,"[118230, 164409, 136985, 241411, 297210, 29721...",Jon_Benediktsson,4316.040476,216,51
20146,20146,20147,21.907995,"[50, 369, 4, 10, 20, 5, 50, 22, 209, 50, 50, 8...",19.626820,"[16151, 1502, 47919, 47920, 66883, 90303, 9030...",Moshe_Tennenholtz,4315.875000,197,50
276483,276483,276484,38.878378,"[50, 50, 26, 983, 0, 0, 0, 73, 156, 99, 3, 68,...",12.833959,"[276483, 21957, 37457, 250970, 295734, 304357,...",Qing-Long_Han,4315.500000,111,50
12407,12407,12408,59.910418,"[16, 56, 85, 106, 50, 138, 50, 174, 232, 730, ...",33.449162,"[12409, 43436, 51752, 288239, 288240, 143019, ...",Quoc_Le,4313.550092,72,50
20052,20052,20053,32.422628,"[0, 122, 0, 3, 4, 64, 97, 2, 0, 0, 8, 40, 0, 1...",18.911317,"[20054, 20055, 52301, 6588, 70959, 91035, 1024...",Amanda_Spink,4312.209524,133,50
156584,156584,156585,30.349614,"[50, 0, 6, 2, 4, 0, 50, 0, 50, 197, 50, 1, 55,...",30.485497,"[101183, 180593, 63546, 57135, 80706, 826, 183...",Vijay_Vazirani,4309.645238,142,50
87327,87327,87328,32.401823,"[50, 21, 191, 50, 105, 71, 0, 48, 283, 50, 4, ...",13.985289,"[87325, 87326, 87327, 115450, 119879, 140973, ...",John_Leonard,4309.442460,133,50
52613,52613,52614,36.821215,"[4, 603, 83, 116, 0, 50, 65, 50, 144, 50, 401,...",25.756242,"[52611, 52612, 36673, 52613, 77999, 78000, 780...",Geoffrey_Voelker,4308.082143,117,65
14681,14681,14682,29.501256,"[22, 1, 10, 50, 50, 50, 50, 9, 2, 88, 0, 50, 1...",10.964987,"[14681, 14683, 14684, 547, 35322, 12373, 93701...",Qingfu_Zhang,4307.183333,146,50
26464,26464,26465,20.122730,"[29, 11, 3, 0, 50, 50, 51, 0, 6, 50, 3, 10, 62...",11.025232,"[26463, 26464, 29819, 29820, 29821, 34418, 344...",Boualem_Benatallah,4306.264286,214,51