In [1]:
# all required imports
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from geopy.distance import geodesic
import json
import os
import sys
import math
import random
import datetime
import scipy as sp
from scipy.stats.stats import pearsonr
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
#reading the training data and test data

file_name = 'dblp-ref-'
num_files = 4
train_data = []

for i in range(num_files):
    train_data.append(pd.read_json("./data/dblp-ref/dblp-ref-" + str(i) + ".json", lines=2))
    train_data[i].head(3)

In [5]:
#train_data.fillna(0,inplace=True)
author_data = {}
author_id = {
    'start': 1,
    'curr': 1
}

assigned_ids = {}

def create_author_data(train_data, author_data, author_id, assigned_ids):
    for i in range(0, len(train_data)):#len(train_data)):
        authors = train_data.authors[i]
        
        try:
            citations = train_data.n_citation[i]/len(authors)
        except:
            continue

        for author in authors:
            names = author.split(' ')
            unique_name = names[0] + "_" + names[len(names)-1]
            if unique_name not in author_data:
                author_data[unique_name] = {
                    'num_citations': citations,
                    'paper_count': 1,
                    'name': unique_name,
                    'author_id': author_id['curr'],
                    'co_authors': {},
                    'citations': [train_data.n_citation[i]]
                }
                assigned_ids[unique_name] = author_id['curr']
                author_id['curr'] += 1
                
            else:
                author_data[unique_name]['num_citations'] += citations
                author_data[unique_name]['paper_count'] += 1
                author_data[unique_name]['citations'].append(train_data.n_citation[i])
                
            for co_author in authors:
                co_author_names = co_author.split(' ')
                co_author_unique_name = co_author_names[0] + "_" + co_author_names[len(co_author_names)-1]
                if co_author_unique_name != unique_name:
                    author_data[unique_name]['co_authors'][co_author_unique_name] = 1
                        
            
            
# call for each data file
for i in range(num_files):
    create_author_data(train_data[i], author_data, author_id, assigned_ids)

# add average citations
for data in author_data:
    author_data[data]['average_citations'] = author_data[data]['num_citations'] / author_data[data]['paper_count']
    
# adding h-index
def get_h_index(citations):
    return ([0] + [i + 1 for i, c in enumerate(sorted(citations, reverse = True)) if c >= i + 1])[-1]

data_to_df = []
for data in author_data:
    each_author = author_data[data]
    co_authors = each_author['co_authors']
    co_author_ids = []
    co_author_avg_citations = 0
    for co_author in co_authors:
        co_author_avg_citations += author_data[co_author]['average_citations']
        co_author_ids.append(assigned_ids[co_author])
    each_author['co_authors'] = co_author_ids
    each_author['co_author_avg_citations'] = co_author_avg_citations/len(co_author_ids) if len(co_author_ids) != 0 else 0
    data_to_df.append(each_author)
    
df = pd.DataFrame.from_dict(data_to_df, orient='columns')

df['h_index'] = df.apply(lambda x: get_h_index(x.citations), axis=1)
        
#df['average_citations'] = df['num_citations'] / df['paper_count']

df.head(100)

,author_id,average_citations,citations,co_author_avg_citations,co_authors,name,num_citations,paper_count,h_index
0,1,4.828571,"[0, 50, 50, 0, 2]",4.397172,"[2, 3, 4, 5, 6, 7, 8, 40149, 463789, 463790, 4...",Makoto_Satoh,24.142857,5,2
1,2,0.000000,[0],4.877965,"[1, 3, 4, 5, 6, 7, 8]",Ryo_Muramatsu,0.000000,1,0
2,3,6.684375,"[0, 50, 0, 50, 0, 0, 50, 6, 50, 2, 50, 50, 1, ...",3.616932,"[1, 2, 4, 5, 6, 7, 8, 73800, 30142, 198087, 49...",Mizue_Kayama,213.900000,32,13
3,4,4.667500,"[0, 50, 0, 0, 0, 10, 1, 0, 50, 50, 50, 50, 1, ...",2.655301,"[1, 2, 3, 5, 6, 7, 8, 73800, 201615, 334037, 4...",Kazunori_Itoh,93.350000,20,8
4,5,2.310000,"[0, 0, 50, 1, 2, 0, 0, 50, 0, 50]",2.876817,"[1, 2, 3, 4, 6, 7, 8, 201615, 490012, 509990, ...",Masami_Hashimoto,23.100000,10,3
5,6,2.524359,"[0, 0, 50, 1, 0, 1, 2, 1, 0, 2, 0, 0, 0, 50, 2...",3.594990,"[1, 2, 3, 4, 5, 7, 8, 50209, 324798, 180194, 2...",Makoto_Otani,98.450000,39,9
6,7,6.583333,"[0, 0, 0, 0, 10, 50, 50, 50, 50, 50]",3.823610,"[1, 2, 3, 4, 5, 6, 8, 201615, 334037, 509990, ...",Michio_Shimizu,65.833333,10,6
7,8,6.547619,"[0, 0, 0, 50, 50, 50, 50]",4.010573,"[1, 2, 3, 4, 5, 6, 7, 509990, 509991, 419420, ...",Masahiko_Sugimoto,45.833333,7,4
8,9,7.996032,"[50, 0, 50, 10]",5.124213,"[10, 380963, 380964, 380965, 337260, 178003, 7...",Gareth_Beale,31.984127,4,3
9,10,12.055335,"[50, 50, 52, 50, 50, 253, 10, 50, 0]",7.604391,"[9, 323945, 446287, 446288, 109746, 569693, 56...",Graeme_Earl,108.498016,9,8
10,11,4.910714,"[50, 0, 0, 50]",7.880489,"[12, 13, 14, 50423, 708116, 50424, 50425, 5042...",Altaf_Hossain,19.642857,4,2
11,12,3.222222,"[50, 0, 3, 2, 7, 7, 17, 13, 1]",6.392728,"[11, 13, 14, 41957, 354626, 354627, 263898, 31...",Faisal_Zaman,29.000000,9,5
12,13,8.726667,"[50, 0, 9, 13, 50]",7.863602,"[11, 12, 14, 88379, 258439, 452067, 266547, 22...",Mohammed_Nasser,43.633333,5,4
13,14,11.045115,"[50, 3, 0, 0, 50, 50, 50, 50, 0, 50, 50, 50, 5...",8.998470,"[11, 12, 13, 82947, 11950, 104476, 193127, 193...",M._Islam,640.616667,58,31
14,15,0.000000,[0],3.879726,"[16, 17, 18, 19]",Jea-Bum_Park,0.000000,1,0
15,16,7.500000,"[0, 90]",5.928498,"[15, 17, 18, 19, 378300, 432194, 378299, 43219...",Byungmok_Kim,15.000000,2,1
16,17,7.547477,"[0, 5, 0, 0, 2, 0, 50, 0, 50, 0, 4, 50, 80, 26...",7.365847,"[15, 16, 18, 19, 65068, 65069, 65070, 74397, 1...",Jian_Shen,1071.741667,142,49
17,18,0.000000,"[0, 0]",6.313194,"[15, 16, 17, 19, 183792, 638384]",Sun-Young_Kim,0.000000,2,0
18,19,0.471429,"[0, 2, 0, 5, 0, 2, 0]",1.368346,"[15, 16, 17, 18, 188307, 188308, 188309, 18831...",Dae-Seok_Rho,3.300000,7,2
19,20,8.223218,"[2, 50, 0, 2, 50, 1, 1, 4, 4, 7, 2, 0, 0, 50, ...",8.250910,"[21, 9042, 31351, 62377, 49329, 15067, 2047, 1...",Giovanna_Guerrini,748.312821,91,37
20,21,8.027083,"[2, 7, 32, 2, 0, 58, 50, 50, 50, 2, 20, 50, 18...",12.472483,"[20, 2047, 49329, 118057, 29124, 87749, 110285]",Isabella_Merlo,128.433333,16,10
21,22,3.814394,"[0, 3, 50, 4, 5, 4, 50, 26, 0, 3, 0, 50, 50, 9...",6.033606,"[23, 24, 25, 320703, 336170, 311217, 133326, 1...",Rafael_Álvarez,83.916667,22,7
22,23,4.562500,"[0, 0, 0, 50, 5, 4, 3, 50, 0, 8, 26, 7, 50, 4,...",4.712970,"[22, 24, 25, 179573, 179574, 179575, 311217, 2...",Leandro_Tortosa,146.000000,32,10
23,24,5.166667,"[0, 3, 0, 50, 4, 3, 4, 0, 26, 50, 50, 12, 50, ...",4.850121,"[22, 23, 25, 179573, 179574, 133326, 263767, 6...",José-Francisco_Vicent,98.166667,19,8
24,25,9.223864,"[0, 3, 50, 5, 3, 4, 50, 8, 26, 4, 50, 50, 0, 1...",9.311495,"[22, 23, 24, 311217, 179574, 133326, 179575, 7...",Antonio_Zamora,405.850000,44,16
25,26,27.182549,"[2, 0, 63, 50, 50, 5, 51, 1, 1, 50, 0, 0, 0, 0...",10.072521,"[27, 60474, 60475, 60476, 282956, 52929, 33082...",Jovan_Golic,2310.516667,85,47
26,27,0.666667,"[2, 0, 0, 6, 0, 0]",6.887042,"[26, 444148, 424879, 601990, 597048, 444146, 9...",Guglielmo_Morgari,4.000000,6,2
27,28,6.560417,"[0, 2, 0, 14, 50, 0, 1, 3, 19, 50, 50, 16, 75,...",3.366836,"[29, 30, 587793, 598975, 635905, 805009, 1205799]",Guzin_Ulutas,104.966667,16,7
28,29,5.455072,"[0, 2, 0, 14, 50, 0, 1, 50, 2, 3, 19, 50, 50, ...",4.184639,"[28, 30, 587793, 598975, 635905, 849984, 84998...",Mustafa_Ulutas,125.466667,23,8
29,30,5.837778,"[0, 50, 50, 1, 2, 14, 50, 2, 0, 50, 4, 1, 2, 1...",5.996423,"[28, 29, 113551, 113548, 221706, 234700, 23470...",Vasif_Nabiyev,175.133333,30,10
...,...,...,...,...,...,...,...,...,...
70,71,11.412121,"[50, 66, 50, 50, 50, 50, 50, 51, 50, 50, 14]",9.552966,"[68, 69, 70, 72, 81300, 421319, 84421, 1348981]",Ludo_Put,125.533333,11,11
71,72,10.499301,"[50, 100, 1, 31, 16, 21, 18, 9, 89, 7, 50, 50,...",11.534365,"[68, 69, 70, 71, 37870, 68241, 68242, 81299, 8...",Koen_Bosschere,1039.430808,99,50
72,73,20.292535,"[101, 10, 0, 3, 412, 43, 63, 91, 88, 59, 6, 16...",17.168834,"[74, 75, 76, 34037, 34038, 34039, 4479, 105609...",Marco_Baroni,1623.402778,80,35
73,74,27.375000,"[101, 118]",21.498891,"[73, 75, 76, 36797, 60405, 323379]",Francis_Chantree,54.750000,2,2
74,75,58.777778,"[101, 267, 10, 29, 61, 81, 123, 22, 105, 50, 1...",11.425784,"[73, 74, 76, 10821, 14496, 56183, 27525, 52836...",Adam_Kilgarriff,2468.666667,42,27
75,76,7.356510,"[101, 6, 50, 0, 17, 1, 64, 37, 50, 50, 1, 33, ...",10.128223,"[73, 74, 75, 87291, 96069, 18191, 127176, 1319...",Serge_Sharoff,235.408333,32,15
76,77,162.965854,"[50, 50, 14, 50, 137, 5388, 371, 50, 50, 85, 5...",30.163119,"[78, 79, 80, 116677, 62933, 73170, 124379, 824...",John_Douceur,6681.600000,41,32
77,78,73.393172,"[50, 3, 30, 23, 50, 249, 18, 50, 105, 393, 727...",30.522429,"[77, 79, 80, 167608, 231812, 241951, 241952, 1...",Jeremy_Elson,2128.401984,29,19
78,79,21.468881,"[50, 0, 50, 14, 3, 30, 70, 371, 50, 18, 101, 5...",28.536040,"[77, 78, 80, 16246, 16247, 16248, 16249, 16250...",Jon_Howell,815.817460,38,27
79,80,40.175866,"[50, 8, 76, 50, 70, 232, 137, 50, 227, 50, 704...",35.294510,"[77, 78, 79, 43891, 43892, 43893, 43894, 43895...",Jacob_Lorch,1325.803571,33,28
80,81,4.587834,"[7, 1, 10, 50, 50, 0, 0, 0, 0, 0, 0, 0, 3, 1, ...",7.326491,"[82, 172882, 172883, 327961, 327962, 327963, 7...",Hiroshi_Furukawa,316.560534,69,20
81,82,4.615995,"[7, 2, 11, 26, 50, 4, 4, 0, 16, 50, 50, 130, 2...",5.987560,"[81, 12698, 12699, 12700, 42839, 42840, 17804,...",Yutaka_Nakamura,369.279616,80,24
82,83,5.841204,"[0, 3, 50, 0, 1, 0, 0, 0, 38, 39, 50, 0, 50, 0...",4.437703,"[84, 144468, 144466, 867899, 867900, 355610, 8...",Nebojsa_Ralevic,105.141667,18,7
83,84,8.133333,"[0, 29, 50, 50, 2, 1, 50, 50, 1, 1, 1, 2, 50, ...",9.604944,"[83, 57222, 74287, 88902, 49240, 245406, 63098]",Lidija_Čomić,122.000000,15,6
84,85,6.113568,"[0, 0, 0, 0, 50, 0, 0, 3, 0, 2, 0, 7, 28, 1, 0...",6.510405,"[86, 87, 88, 89, 34640, 45962, 51863, 51864, 5...",William_Perrizo,770.309524,126,37
85,86,4.674354,"[0, 0, 50, 0, 50, 1, 0, 21, 1, 0, 0, 27, 0, 2,...",6.853341,"[85, 87, 88, 89, 70340, 131841, 115807, 52230,...",Qiang_Ding,163.602381,35,15
86,87,6.523810,"[0, 2, 28, 50, 50, 2, 50]",5.056048,"[85, 86, 88, 89, 52230, 51864, 177034]",Masum_Serazi,45.666667,7,4
87,88,5.242424,"[0, 2, 28, 0, 2, 1, 50, 50, 12, 37, 0]",5.180135,"[85, 86, 87, 89, 52230, 51864, 70340, 241125, ...",Taufik_Abidin,57.666667,11,5
88,89,3.174667,"[0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 8, ...",5.736173,"[85, 86, 87, 88, 45962, 57369, 115807, 96960, ...",Baoying_Wang,79.366667,25,6
89,90,14.583333,"[50, 50]",12.846103,"[91, 92, 478096, 160693]",Carmen_Álvarez,29.166667,2,2
90,91,9.754483,"[50, 50, 0, 3, 50, 0, 57, 8, 0, 9, 28, 6, 2, 0...",10.758359,"[90, 92, 45306, 3604, 45307, 63403, 63404, 272...",Philippe_Langlais,556.005556,57,26
91,92,16.809797,"[50, 3, 50, 50, 50, 6, 50, 5, 50, 3, 2, 50, 50...",12.407385,"[90, 91, 40721, 9201, 3689, 73569, 13179, 1099...",Jian-Yun_Nie,2538.279365,151,50
92,93,1.568331,"[0, 2, 0, 1, 1, 50, 50, 0]",5.123672,"[94, 95, 21368, 21369, 331471, 331472, 331473,...",Norihiko_Moriwaki,12.546645,8,2
93,94,3.446707,"[0, 2, 0, 1, 4, 0, 50, 3, 38, 3, 50, 0, 46, 6,...",6.796440,"[93, 95, 21368, 21369, 61985, 61986, 331471, 3...",Kazuo_Yano,72.380844,21,8
94,95,6.493333,"[0, 2, 0, 0, 0, 1, 105, 50, 3, 2, 50, 0, 0, 0, 0]",4.527538,"[93, 94, 21368, 21369, 270138, 571381, 92244, ...",Dai_Senoo,97.400000,15,3
95,96,6.276422,"[6, 2, 50, 0, 0, 50, 30, 36, 9, 8, 6, 4, 85, 5...",7.814819,"[97, 98, 94870, 94871, 83414, 128005, 28682, 2...",Prudence_Wong,451.902381,72,32
96,97,2.350000,"[6, 2, 6, 4, 5, 0, 15, 50, 0, 1]",7.511853,"[96, 98, 107114, 442153, 50685, 130446, 263041...",Fencol_Yung,23.500000,10,5
97,98,2.618681,"[6, 2, 0, 0, 0, 52, 7, 4, 38, 5, 50, 0, 0]",5.509823,"[96, 97, 28312, 83414, 128005, 28682, 101675, ...",Mihai_Burcea,34.042857,13,5
98,99,15.051493,"[50, 0, 6, 6, 53, 5, 14, 50, 301, 24, 50, 120,...",15.790644,"[100, 26913, 199471, 199472, 25640, 188350, 23...",Michel_Abdalla,1008.450000,67,32
99,100,6.412500,"[50, 1, 2, 0]",5.308606,"[99, 94115, 40415, 237239, 1415563, 237237, 11...",Jill-Jênn_Vie,25.650000,4,2

In [6]:
len(df)

1635106

In [7]:
df.to_csv('./data/authors.csv', sep=',')

In [8]:
authors_df = pd.read_csv('./data/authors.csv')

In [9]:
authors_df.head()

,Unnamed: 0,author_id,average_citations,citations,co_author_avg_citations,co_authors,name,num_citations,paper_count,h_index
0,0,1,4.828571,"[0, 50, 50, 0, 2]",4.397172,"[2, 3, 4, 5, 6, 7, 8, 40149, 463789, 463790, 4...",Makoto_Satoh,24.142857,5,2
1,1,2,0.000000,[0],4.877965,"[1, 3, 4, 5, 6, 7, 8]",Ryo_Muramatsu,0.000000,1,0
2,2,3,6.684375,"[0, 50, 0, 50, 0, 0, 50, 6, 50, 2, 50, 50, 1, ...",3.616932,"[1, 2, 4, 5, 6, 7, 8, 73800, 30142, 198087, 49...",Mizue_Kayama,213.900000,32,13
3,3,4,4.667500,"[0, 50, 0, 0, 0, 10, 1, 0, 50, 50, 50, 50, 1, ...",2.655301,"[1, 2, 3, 5, 6, 7, 8, 73800, 201615, 334037, 4...",Kazunori_Itoh,93.350000,20,8
4,4,5,2.310000,"[0, 0, 50, 1, 2, 0, 0, 50, 0, 50]",2.876817,"[1, 2, 3, 4, 6, 7, 8, 201615, 490012, 509990, ...",Masami_Hashimoto,23.100000,10,3

In [12]:
authors_df = authors_df.sort_values(by='h_index', ascending=False)
authors_df.head(500)

,Unnamed: 0,author_id,average_citations,citations,co_author_avg_citations,co_authors,name,num_citations,paper_count,h_index
40254,40254,40255,40.253176,"[0, 92, 50, 11, 2, 50, 50, 257, 95, 173, 50, 5...",17.147145,"[42167, 11017, 44161, 16038, 64503, 64504, 645...",Jiawei_Han,29666.590508,737,144
45286,45286,45287,90.959808,"[47, 27, 9, 57, 15, 50, 388, 8, 134, 23, 50, 8...",23.527023,"[45286, 66718, 66719, 67047, 67048, 67049, 787...",Anil_Jain,49936.934754,549,144
737,737,738,27.901193,"[43, 131, 2251, 21, 197, 70, 40, 33, 14, 50, 1...",14.345400,"[2492, 9499, 9500, 13689, 13690, 24400, 16425,...",Philip_Yu,27231.563889,976,132
7014,7014,7015,72.169629,"[3, 50, 50, 0, 263, 29, 25, 50, 50, 0, 157, 76...",45.547509,"[5776, 46602, 96985, 31335, 81469, 100220, 100...",Andrew_Zisserman,25981.066598,360,123
51522,51522,51523,77.375410,"[50, 9, 35, 2, 9, 50, 229, 28, 50, 1, 23, 0, 6...",36.990219,"[51524, 7910, 55012, 31553, 55013, 26096, 8558...",Scott_Shenker,20813.985300,269,122
15849,15849,15850,29.570117,"[0, 64, 7, 50, 50, 50, 0, 0, 111, 52, 0, 50, 1...",18.364136,"[15849, 27280, 27281, 45764, 82995, 88292, 640...",Thomas_Huang,24454.486760,827,122
29353,29353,29354,56.858964,"[44, 101, 0, 39, 24, 50, 50, 5, 4, 8, 0, 865, ...",41.367042,"[13989, 29355, 46601, 24848, 56891, 28727, 568...",Hector_Garcia-Molina,22743.585762,400,117
25820,25820,25821,86.767361,"[0, 11, 80, 60, 2, 52, 81, 8, 50, 166, 3, 156,...",27.207981,"[25815, 25816, 25817, 25818, 25819, 25820, 668...",Sebastian_Thrun,23253.652814,268,113
78465,78465,78466,79.501952,"[3, 0, 0, 95, 0, 17, 14, 35, 56, 16, 8, 50, 27...",28.065848,"[52563, 80489, 94259, 4836, 94260, 4822, 94261...",Michael_Jordan,26553.652020,334,113
22284,22284,22285,44.048882,"[50, 9, 50, 19, 14, 33, 3, 11, 50, 50, 50, 50,...",22.405255,"[22283, 22284, 38001, 38002, 38003, 41734, 537...",Christos_Faloutsos,22553.027524,512,112
118931,118931,118932,32.329039,"[14, 0, 0, 6, 3, 50, 51, 4, 157, 5, 28, 33, 21...",17.378874,"[118929, 118930, 118931, 78677, 57449, 3995, 2...",Georgios_Giannakis,20755.242857,642,111
23024,23024,23025,74.952049,"[50, 0, 50, 50, 1, 20, 2, 50, 188, 50, 50, 5, ...",24.476985,"[23021, 23022, 23023, 23024, 23026, 23027, 250...",Takeo_Kanade,29456.155189,393,109
18806,18806,18807,30.058247,"[50, 0, 1, 7, 11, 303, 54, 2, 17, 3, 1, 13, 31...",18.619108,"[18804, 18805, 18806, 45159, 45160, 104146, 10...",Donald_Towsley,15870.754365,528,108
645,645,646,11.765630,"[2, 14, 50, 0, 50, 0, 256, 50, 2, 50, 59, 0, 0...",7.825974,"[647, 648, 649, 650, 651, 652, 653, 7284, 7285...",Lei_Zhang,19048.555452,1619,107
14462,14462,14463,28.529084,"[14, 11, 1, 0, 50, 4, 50, 0, 50, 50, 0, 50, 50...",10.524706,"[14461, 14462, 24967, 24968, 19833, 30652, 306...",Francisco_Herrera,14178.954520,497,107
7507,7507,7508,8.298664,"[0, 3, 50, 50, 0, 50, 0, 3, 3, 25, 0, 0, 257, ...",7.880137,"[7509, 7510, 7511, 454, 12543, 12544, 12545, 1...",Wei_Wang,21427.149848,2582,104
27249,27249,27250,77.199444,"[50, 19, 10, 32, 1, 0, 145, 141, 294, 30, 0, 0...",32.708276,"[42321, 7094, 58496, 82906, 27437, 32094, 5724...",Christos_Papadimitriou,24781.021429,321,101
51874,51874,51875,36.117616,"[236, 11, 50, 50, 2, 28, 2, 16, 50, 32, 25, 53...",18.609801,"[27560, 51874, 124702, 124703, 28629, 124704, ...",Hong-Jiang_Zhang,12135.519048,336,101
31552,31552,31553,65.128857,"[189, 1, 9, 4, 131, 29, 9, 28, 8, 309, 50, 50,...",37.595709,"[31550, 31551, 31552, 40154, 40155, 40156, 401...",Ion_Stoica,14588.863869,224,101
11631,11631,11632,45.568957,"[53, 0, 50, 9, 172, 3, 1, 50, 50, 0, 45, 18, 3...",12.855761,"[11629, 11630, 11631, 23293, 47917, 47918, 459...",Rajkumar_Buyya,20323.754762,446,100
2105,2105,2106,57.785958,"[19, 6, 1, 0, 2, 50, 4, 50, 14, 30, 50, 0, 10,...",12.530882,"[2107, 9497, 9498, 55185, 59527, 59528, 20371,...",Ian_Foster,23692.242953,410,99
703,703,704,104.739824,"[73, 17, 11, 88, 586, 197, 76, 169, 11, 78, 91...",30.233586,"[701, 702, 703, 11334, 11335, 66888, 61783, 66...",Andrew_Ng,19586.347163,187,98
6600,6600,6601,82.610278,"[32, 53, 87, 50, 81, 22, 21, 249, 91, 8, 75, 5...",41.047717,"[6599, 6600, 6201, 5045, 6602, 29550, 29551, 3...",Daphne_Koller,15778.563095,191,98
42844,42844,42845,132.111821,"[20, 6, 84, 619, 266, 57, 42, 279, 50, 125, 0,...",48.038599,"[42843, 42844, 9139, 167847, 40156, 46178, 589...",Richard_Szeliski,21534.226786,163,97
35308,35308,35309,74.460131,"[114, 15, 815, 161, 50, 50, 1, 564, 50, 263, 5...",23.471493,"[35305, 35306, 35307, 35308, 35310, 35311, 450...",Yoshua_Bengio,26061.045957,350,96
7705,7705,7706,53.851211,"[0, 3, 6, 0, 0, 14, 0, 50, 12, 50, 50, 8, 53, ...",14.949215,"[7704, 7705, 33338, 16455, 52338, 52339, 60128...",Nicholas_Jennings,25956.283775,482,96
10097,10097,10098,34.356188,"[186, 23, 5, 116, 12, 11, 173, 2, 25, 2, 0, 49...",15.393404,"[10099, 7467, 38682, 113873, 20371, 125096, 18...",John_Stankovic,11200.117166,326,95
59082,59082,59083,32.472619,"[13, 2, 33, 37, 0, 50, 50, 0, 0, 0, 13, 35, 12...",24.536156,"[23851, 23477, 32499, 51066, 51067, 112018, 11...",Leonidas_Guibas,11852.505980,365,94
15513,15513,15514,100.100949,"[75, 139, 50, 2, 55, 312, 677, 72, 180, 50, 67...",36.026853,"[15508, 15509, 15510, 15511, 15512, 15513, 532...",David_Culler,21021.199242,210,94
37374,37374,37375,38.923133,"[16, 52, 1, 50, 50, 50, 21, 1, 32, 1, 0, 0, 50...",27.832404,"[37373, 37374, 2392, 49166, 40157, 49167, 4916...",Joseph_Hellerstein,11287.708521,290,93
...,...,...,...,...,...,...,...,...,...,...
63711,63711,63712,29.317436,"[50, 50, 0, 0, 2, 3, 96, 276, 4, 50, 50, 11, 0...",16.181855,"[63710, 63711, 6600, 238682, 52513, 246276, 52...",Bhaskar_Krishnamachari,6244.613853,213,61
18454,18454,18455,20.243921,"[2, 5, 12, 0, 2, 2, 0, 683, 9, 22, 50, 50, 2, ...",14.943617,"[18452, 18453, 18454, 56971, 87202, 97583, 113...",Pramod_Varshney,7429.519048,367,61
25139,25139,25140,19.974461,"[31, 1, 185, 50, 161, 138, 20, 980, 50, 4, 91,...",14.725608,"[14324, 1068, 32682, 32683, 7467, 51465, 59514...",Prashant_Shenoy,4234.585714,212,61
252329,252329,252330,14.955961,"[2, 27, 22, 0, 9, 1, 26, 50, 45, 50, 131, 63, ...",9.117158,"[173243, 252327, 252328, 252329, 9500, 67865, ...",Yunhao_Liu,5608.485534,375,61
67957,67957,67958,26.044488,"[12, 50, 3, 50, 50, 50, 0, 4, 3, 229, 149, 50,...",12.682939,"[67956, 67957, 71462, 71017, 71463, 71464, 867...",Ivan_Stojmenovic,7318.501190,281,61
25275,25275,25276,51.018774,"[10, 16, 50, 0, 4, 13, 261, 45, 63, 370, 13, 2...",32.174885,"[25274, 25275, 6961, 22649, 3364, 26006, 45704...",Varun_Grover,7091.609524,139,61
59592,59592,59593,11.936334,"[0, 6, 86, 1, 122, 0, 25, 16, 50, 98, 2, 0, 27...",9.326725,"[31180, 59594, 3924, 7427, 63160, 63161, 22109...",Jin_Li,5693.631241,477,61
2403,2403,2404,63.077541,"[27, 50, 59, 50, 3, 101, 50, 123, 50, 0, 302, ...",14.965383,"[2403, 2405, 29762, 29763, 29764, 29765, 11242...",Timothy_Cootes,10407.794231,165,61
3363,3363,3364,25.706071,"[11, 17, 12, 1, 99, 16, 0, 0, 96, 38, 50, 26, ...",22.012120,"[3362, 3109, 3363, 9299, 10401, 26005, 26006, ...",Kalle_Lyytinen,6452.223810,251,61
74184,74184,74185,14.743043,"[0, 0, 3, 1, 60, 4, 17, 63, 34, 0, 50, 50, 50,...",15.060517,"[4374, 4603, 6935, 76924, 38263, 33531, 52703,...",Rong_Jin,4275.482540,290,61
35905,35905,35906,10.468271,"[50, 13, 0, 0, 23, 12, 10, 17, 3, 50, 10, 50, ...",8.211829,"[15878, 35907, 7478, 39346, 31629, 40790, 3148...",Lei_Chen,7840.735141,749,61
12648,12648,12649,13.232305,"[1, 1, 52, 0, 0, 50, 28, 50, 17, 11, 50, 8, 30...",12.197785,"[12646, 12647, 12648, 93513, 2135, 127953, 127...",Mary_Irwin,4141.711508,313,61
46155,46155,46156,67.466330,"[45, 0, 1, 12, 3, 29, 11, 68, 35, 50, 50, 157,...",29.434132,"[46157, 94613, 236480, 183114, 106954, 146951,...",Larry_Peterson,8028.493254,119,61
15252,15252,15253,22.604879,"[76, 0, 27, 1, 108, 3, 50, 3, 16, 68, 4, 50, 5...",13.909945,"[15249, 15250, 15251, 15252, 97943, 181569, 40...",Ness_Shroff,6216.341667,275,61
93512,93512,93513,14.814263,"[50, 52, 0, 50, 17, 8, 30, 10, 1, 74, 84, 66, ...",12.703910,"[93514, 2135, 127953, 127954, 32619, 12649, 32...",Narayanan_Vijaykrishnan,3066.552381,207,61
9491,9491,9492,16.704501,"[5, 50, 24, 1, 12, 5, 50, 7, 3, 5, 3, 3, 1, 5,...",11.478015,"[9491, 9493, 9494, 12071, 12072, 37124, 42899,...",Taghi_Khoshgoftaar,6865.550000,411,61
236671,236671,236672,14.976161,"[7, 50, 9, 50, 50, 284, 16, 12, 86, 50, 50, 50...",14.527140,"[207603, 222592, 149973, 48529, 331992, 16532,...",Scott_Mahlke,2920.351407,195,61
66523,66523,66524,37.665821,"[0, 36, 52, 0, 2, 0, 0, 0, 0, 0, 1, 0, 3, 1, 0...",20.510137,"[66523, 22389, 76820, 76821, 82449, 82450, 300...",Klaus-Robert_Müller,7156.506079,190,61
7864,7864,7865,45.861408,"[40, 3, 50, 5, 9, 3, 15, 26, 6, 6, 18, 6, 5, 0...",16.470816,"[7866, 7867, 7868, 7869, 7870, 7871, 7872, 787...",John_Smith,13620.838285,297,61
160388,160388,160389,35.628599,"[419, 50, 50, 583, 64, 0, 50, 86, 50, 50, 4, 6...",22.968454,"[156849, 201584, 13894, 69736, 89196, 7188, 11...",Alex_Aiken,5166.146800,145,61
42811,42811,42812,31.220479,"[50, 0, 2, 50, 104, 0, 5, 17, 41, 0, 2, 50, 50...",19.361533,"[42811, 42813, 42814, 74402, 146180, 216972, 9...",Kevin_Bowyer,7524.135440,241,61
75903,75903,75904,37.986470,"[0, 403, 61, 1209, 61, 2, 98, 50, 105, 50, 69,...",19.360379,"[320880, 1292, 335264, 335265, 406167, 406168,...",Jan_Rabaey,7787.226371,205,61
104146,104146,104147,31.427927,"[1, 50, 6, 48, 1, 1, 0, 50, 50, 54, 16, 50, 50...",25.461920,"[104146, 104148, 18807, 85822, 15982, 150610, ...",Christophe_Diot,4431.337698,141,61
85888,85888,85889,15.661161,"[50, 10, 50, 7, 6, 16, 4, 2, 50, 7, 3, 3, 3, 5...",11.268678,"[85887, 85888, 115588, 115589, 115590, 12712, ...",Björn_Ottersten,6013.885714,384,61
247526,247526,247527,31.642182,"[0, 19, 39, 345, 18, 64, 50, 12, 50, 50, 50, 2...",15.084720,"[141578, 247526, 285751, 285752, 304353, 30435...",Stefan_Schaal,5948.730137,188,61
235016,235016,235017,26.500339,"[0, 0, 1, 0, 3, 7, 142, 50, 5, 0, 50, 31, 14, ...",15.915357,"[235018, 255405, 260330, 266488, 310267, 30431...",Mohan_Trivedi,8003.102381,302,61
13357,13357,13358,8.348027,"[50, 0, 50, 1, 6, 0, 0, 42, 4, 22, 0, 30, 0, 1...",8.150574,"[13356, 13357, 13359, 22412, 22413, 22414, 224...",Yang_Wang,6469.720851,775,61
14173,14173,14174,31.983882,"[4, 94, 3, 3, 3, 50, 30, 1, 8, 5, 2, 9, 11, 0,...",19.312751,"[385, 25034, 25035, 25036, 69583, 73884, 10642...",Jake_Aggarwal,7772.083333,243,61
825,825,826,155.764893,"[23, 0, 0, 50, 43, 26, 0, 3, 0, 50, 26, 50, 6,...",65.986080,"[827, 828, 19687, 19688, 19689, 16095, 16096, ...",Ronald_Rivest,25389.677561,163,61
9618,9618,9619,18.557079,"[2, 0, 0, 0, 107, 0, 1, 14, 0, 3, 50, 18, 0, 1...",13.469963,"[9620, 9621, 9622, 34769, 34770, 15139, 38538,...",James_Anderson,5715.580281,308,61