In [1]:
# all required imports
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
from geopy.distance import geodesic
import json
import os
import sys
import math
import random
import datetime
import scipy as sp
from scipy.stats.stats import pearsonr
import matplotlib.pyplot as plt
import seaborn as sns
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

/anaconda3/lib/python3.6/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_9.4.1) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [2]:
#reading the training data and test data

file_name = 'dblp-ref-'
num_files = 4
train_data = []

for i in range(num_files):
    train_data.append(pd.read_json("./dblp-ref/dblp-ref-" + str(i) + ".json", lines=2))
    train_data[i].head(3)

In [3]:
#train_data.fillna(0,inplace=True)
author_data = {}
author_id = {
    'start': 1,
    'curr': 1
}

assigned_ids = {}

def create_author_data(train_data, author_data, author_id, assigned_ids):
    for i in range(0, 1000):#len(train_data)):
        authors = train_data.authors[i]
        
        try:
            citations = train_data.n_citation[i]
        except:
            continue

        for author in authors:
            names = author.split(' ')
            unique_name = names[0] + "_" + names[len(names)-1]
            if unique_name not in author_data:
                author_data[unique_name] = {
                    'num_citations': citations,
                    'paper_count': 1,
                    'name': unique_name,
                    'author_id': author_id['curr'],
                    'co_authors': {}
                }
                assigned_ids[unique_name] = author_id['curr']
                author_id['curr'] += 1
                
            else:
                author_data[unique_name]['num_citations'] += citations
                author_data[unique_name]['paper_count'] += 1
                
            for co_author in authors:
                co_author_names = co_author.split(' ')
                co_author_unique_name = co_author_names[0] + "_" + co_author_names[len(co_author_names)-1]
                if co_author_unique_name != unique_name:
                    author_data[unique_name]['co_authors'][co_author_unique_name] = 1
                        
            
            
# call for each data file
for i in range(num_files):
    create_author_data(train_data[i], author_data, author_id, assigned_ids)

# add average citations
for data in author_data:
    author_data[data]['average_citations'] = author_data[data]['num_citations'] / author_data[data]['paper_count']

data_to_df = []
for data in author_data:
    each_author = author_data[data]
    co_authors = each_author['co_authors']
    co_author_ids = []
    co_author_avg_citations = 0
    for co_author in co_authors:
        co_author_avg_citations += author_data[co_author]['average_citations']
        co_author_ids.append(assigned_ids[co_author])
    each_author['co_authors'] = co_author_ids
    each_author['co_author_avg_citations'] = co_author_avg_citations/len(co_author_ids) if len(co_author_ids) != 0 else 0
    data_to_df.append(each_author)
    
df = pd.DataFrame.from_dict(data_to_df, orient='columns')
        
#df['average_citations'] = df['num_citations'] / df['paper_count']

df.head(100)

,author_id,average_citations,co_author_avg_citations,co_authors,name,num_citations,paper_count
0,1,0.000000,0.000000,"[2, 3, 4, 5, 6, 7, 8]",Makoto_Satoh,0,1
1,2,0.000000,0.000000,"[1, 3, 4, 5, 6, 7, 8]",Ryo_Muramatsu,0,1
2,3,0.000000,0.000000,"[1, 2, 4, 5, 6, 7, 8]",Mizue_Kayama,0,1
3,4,0.000000,0.000000,"[1, 2, 3, 5, 6, 7, 8]",Kazunori_Itoh,0,1
4,5,0.000000,0.000000,"[1, 2, 3, 4, 6, 7, 8]",Masami_Hashimoto,0,1
5,6,0.000000,0.000000,"[1, 2, 3, 4, 5, 7, 8]",Makoto_Otani,0,1
6,7,0.000000,0.000000,"[1, 2, 3, 4, 5, 6, 8]",Michio_Shimizu,0,1
7,8,0.000000,0.000000,"[1, 2, 3, 4, 5, 6, 7]",Masahiko_Sugimoto,0,1
8,9,50.000000,50.000000,[10],Gareth_Beale,50,1
9,10,50.000000,50.000000,[9],Graeme_Earl,50,1
10,11,50.000000,50.000000,"[12, 13, 14]",Altaf_Hossain,50,1
11,12,50.000000,50.000000,"[11, 13, 14]",Faisal_Zaman,50,1
12,13,50.000000,50.000000,"[11, 12, 14]",Mohammed_Nasser,50,1
13,14,50.000000,50.000000,"[11, 12, 13]",M._Islam,50,1
14,15,0.000000,0.000000,"[16, 17, 18, 19]",Jea-Bum_Park,0,1
15,16,0.000000,0.000000,"[15, 17, 18, 19]",Byungmok_Kim,0,1
16,17,0.000000,0.000000,"[15, 16, 18, 19]",Jian_Shen,0,1
17,18,0.000000,0.000000,"[15, 16, 17, 19]",Sun-Young_Kim,0,1
18,19,0.000000,0.000000,"[15, 16, 17, 18]",Dae-Seok_Rho,0,1
19,20,2.000000,2.000000,[21],Giovanna_Guerrini,2,1
20,21,2.000000,2.000000,[20],Isabella_Merlo,2,1
21,22,0.000000,0.000000,"[23, 24, 25]",Rafael_Álvarez,0,1
22,23,0.000000,0.000000,"[22, 24, 25]",Leandro_Tortosa,0,1
23,24,0.000000,0.000000,"[22, 23, 25]",José-Francisco_Vicent,0,1
24,25,0.000000,0.000000,"[22, 23, 24]",Antonio_Zamora,0,1
25,26,2.000000,2.000000,[27],Jovan_Golic,2,1
26,27,2.000000,2.000000,[26],Guglielmo_Morgari,2,1
27,28,0.000000,0.000000,"[29, 30]",Guzin_Ulutas,0,1
28,29,0.000000,0.000000,"[28, 30]",Mustafa_Ulutas,0,1
29,30,0.000000,0.000000,"[28, 29]",Vasif_Nabiyev,0,1
...,...,...,...,...,...,...,...
70,71,50.000000,50.000000,"[68, 69, 70, 72]",Ludo_Put,50,1
71,72,50.000000,50.000000,"[68, 69, 70, 71]",Koen_Bosschere,50,1
72,73,101.000000,101.000000,"[74, 75, 76]",Marco_Baroni,101,1
73,74,101.000000,101.000000,"[73, 75, 76]",Francis_Chantree,101,1
74,75,101.000000,101.000000,"[73, 74, 76]",Adam_Kilgarriff,101,1
75,76,101.000000,101.000000,"[73, 74, 75]",Serge_Sharoff,101,1
76,77,50.000000,50.000000,"[78, 79, 80]",John_Douceur,50,1
77,78,50.000000,50.000000,"[77, 79, 80]",Jeremy_Elson,50,1
78,79,50.000000,50.000000,"[77, 78, 80]",Jon_Howell,50,1
79,80,50.000000,50.000000,"[77, 78, 79]",Jacob_Lorch,50,1
80,81,7.000000,7.000000,[82],Hiroshi_Furukawa,7,1
81,82,7.000000,7.000000,[81],Yutaka_Nakamura,7,1
82,83,0.000000,0.000000,[84],Nebojsa_Ralevic,0,1
83,84,0.000000,0.000000,[83],Lidija_Čomić,0,1
84,85,0.000000,0.000000,"[86, 87, 88, 89]",William_Perrizo,0,1
85,86,0.000000,0.000000,"[85, 87, 88, 89]",Qiang_Ding,0,1
86,87,0.000000,0.000000,"[85, 86, 88, 89]",Masum_Serazi,0,1
87,88,0.000000,0.000000,"[85, 86, 87, 89]",Taufik_Abidin,0,1
88,89,0.000000,0.000000,"[85, 86, 87, 88]",Baoying_Wang,0,1
89,90,50.000000,59.666667,"[91, 92]",Carmen_Álvarez,50,1
90,91,50.000000,59.666667,"[90, 92]",Philippe_Langlais,50,1
91,92,69.333333,50.000000,"[90, 91, 7308]",Jian-Yun_Nie,208,3
92,93,0.000000,0.000000,"[94, 95]",Norihiko_Moriwaki,0,1
93,94,0.000000,0.000000,"[93, 95]",Kazuo_Yano,0,1
94,95,0.000000,0.000000,"[93, 94]",Dai_Senoo,0,1
95,96,6.000000,6.000000,"[97, 98]",Prudence_Wong,6,1
96,97,6.000000,6.000000,"[96, 98]",Fencol_Yung,6,1
97,98,6.000000,6.000000,"[96, 97]",Mihai_Burcea,6,1
98,99,50.000000,50.000000,[100],Michel_Abdalla,50,1
99,100,50.000000,50.000000,[99],Jill-Jênn_Vie,50,1